---
// import think from "../assets/think.png";
// import connect from "../assets/connect.png";
// import share from "../assets/share.png";
// import collab from "../assets/collab.png";

const motoCards = [
    {   title: 'Think',
        image: '../assets/think.png',

    },{   title: 'Connect',
        image: '../assets/connect.png',

    },{   title: 'Share',
        image: '../assets/share.png',

    },{   title: 'Collaborate',
        image: '../assets/collaborate.png',

    },

]

---
<>
<div class="pink-board bg-pink-800 w-full flex flex-row rounded-sm">

{motoCards.map((card) =>(
    <div class=" w-3/12 h-full flex flex-col justify-center items-center even:bg-pink-900">
      <img src={card.image} alt={card.title} class="h-10 w-10 pt-6 pb-2" />
      <p class="text-white text-md font-bold pb-4">{card.title}</p>
    </div>
))}

</div>
</>

