---
import EventCard from "./EventCard.astro";

const AllEvents = await Astro.glob('../../content/event/*.md');
// console.log(" ~AllEvents", AllEvents );
---


<div class=" flex flex-start gap-7 justify-center items-stretch p-8 flex-wrap columns-1 sm:columns-2 md:columns-4">
{AllEvents.map((event)=><EventCard event={event} />)}
<!-- <EventCard event={AllEvents[0]}  /> -->
</div>


 