---
// <!-- Scholar / Faculty / Interns  / Employee -->

import { Image } from "astro:assets";
import PeopleCards from "./PeopleCards.astro";
---


<div class="flex flex-col ">

    <PeopleCards />

</div>